body {
    background-image: url("../img/Poland_3in1.png");
    background-size: cover;
}

.image-container {
    object-fit: fill;
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.1;
}
