{% extends "navigator\base.html" %}

{% block static %}
    {{ block.super }}
    {% load static %}

    <link rel="stylesheet" href="{% static 'curvecalc\css\styles.css' %}">
{% endblock %}

{% block title %}
    <title>CurveDetail</title>
{%  endblock title %}

{% block content %}
<br>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-1">Yield Curves.</h1>
            <ol>
                <li><a href="{% url 'navigator:index' %}">Navigator Page</a></li>
                <li><a href="{% url 'curvecalc:index' %}">Curvecals Page</a></li>
                <li><a href="{% url 'curvecalc:curve_list' %}">Curvecals List</a></li>
                <li><a href="{% url 'portcalc:index' %}">Portfolio Calculator</a></li>
            </ol>
        </div>
            <div class="container jumbotron">
                <p class="display-4">{{ tenor }}</p>
                <p class="h1">All Tenors:</p>
                {{ tenor.type_name }}
                {{ tenor.type_name.currency }}
                {{ tenor.type_name.iso_code }}

                <p class="h1">{{ tenor.type_name.description }}</p>
                <table class="table-bordered table-striped">
                    <thead>
                    <tr>
                        <td>Tenor:</td>
                        <td>Date:{{ tenor.date }}</td>
                    </tr>
                    </thead>
                    <tr><td>6M:</td><td>{{ tenor.tenor_6m }}</td></tr>
                    <tr><td>1Y:</td><td>{{ tenor.tenor_1y }}</td></tr>
                    <tr><td>2Y:</td><td>{{ tenor.tenor_2y }}</td></tr>
                    <tr><td>5Y:</td><td>{{ tenor.tenor_5y }}</td></tr>
                    <tr><td>7Y:</td><td>{{ tenor.tenor_7y }}</td></tr>
                    <tr><td>10Y:</td><td>{{ tenor.tenor_10y }}</td></tr>
                </table>
            </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-md-4 mx-auto">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Curve Graph</h5>
                <img src="{% static 'navigator/img/calc_ycrv_dg.png' %}" class="card-img-top" alt="...">
                <p class="card-text fs-1">{{ tenor.tenor_2y }}</p>
                <p class="card-text fs-1">{{ tenor.tenor_5y }}</p>
                <p class="card-text fs-1">{{ tenor.tenor_10y }}</p>
            </div>
        </div>

    </div>
    </div>
        <div class="col-md-4 mx-auto">
            <a href="{% url 'curvecalc:curve_list' %}" class="btn btn-primary">Back to Curve List</a>
            <a href="{% url 'curvecalc:curve_update' pk=tenor.pk %}" class="btn btn-warning">Update</a>
            <a href="{% url 'curvecalc:curve_delete' pk=tenor.pk %}" class="btn btn-danger">Delete</a>
        </div>
        <br>
</div>
{% endblock %}

