{% extends "navigator\base.html" %}

{% block static %}
    {{ block.super }}
    {% load static %}

    <link rel="stylesheet" href="{% static 'curvecalc\css\styles.css' %}">
{% endblock %}

{% block title %}
    <title>CurveCreate</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-4">Create Curve</h1>
        <div class="container d-flex justify-content-center">
            <div class="jumbotron col-md-6">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-between">
                        <input type="submit" class="btn btn-primary" value="Create">
                        <input type="reset" class="btn btn-warning" value="Reset">
                        <a href="{% url 'curvecalc:curve_list' %}" class="btn btn-danger">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
